


* {
    font-size: 62.5%;
    box-sizing: border-box !important;
    margin: 0;
    padding: 0;
    font-family:  'Roboto', sans-serif;
    --BlackText: rgb(39, 39, 39);
    --RedShadow: rgba(255, 0, 106, 0.4);    
    --GreenShadow: rgba(90, 248, 90, 0.4);
    --BlueShadow: rgba(63, 63, 252, 0.4);  
    --Width: 15%;
    --WidthS: 60%;
    color: var(--BlackText);
}
p {
    font-size: 2rem;
    line-height: 1.3em;
    letter-spacing: 0.05em;
}

/* HEADER */
header {
    width: 100%;
    height: 8rem;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: -8rem;
}
.nav {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    width: 80%;
    align-items: center;   
    z-index: 1;
}
.nav_text, .material-icons-round{
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 1.6rem;
    text-transform: uppercase;
}
.--center {
    justify-self: center;
}
.--right {
    justify-self: right;
}
.nav_menu {
    z-index: 2;
    text-align: end;
}
.nav_menu :hover {
    cursor: pointer;
}

/* MENU */
.menuWrapper {
    position: fixed;
    z-index: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    padding-right: 15%;
    width: 100vw;
    height: 100vh;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.9);
    transform: translateY(-100vh);
    transition: 750ms;
    transition-timing-function:ease-in;
}

.menuWrapper_h2 {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    transform: translateY(-100vh);
    transition: 850ms;
    transition-timing-function:ease-in-out;
}

.menuWrapper h2 {
    font-family: 'Montserrat', sans-serif;
    font-size: 6rem;
    font-weight: bold;
    color: whitesmoke;
    text-transform: uppercase;
    filter: blur(2px);
}
.menuWrapper h2:hover {
    font-size: 6.2rem;
    cursor: pointer;
    filter: none;
}

/* FOOTER */
footer {
    width: 100%;
    height: 75vh;
    background-color: #333333;
    display: flex;
    justify-content: center;
}
.footerContainer {
    width: 80%;
    display: flex;
    flex-direction: column;
    padding-top: 80px;
    position: relative;
}
.footerContainer h2 {
    color: whitesmoke;
    font-size: 6rem;
    font-family: 'Roboto';
    font-weight: 300;
    margin-bottom: 0.8rem;
}
.footerContainer_line {
    width: 250px;
    height: 1px;
    background-color: whitesmoke;
    margin-bottom: 2.4rem;
}
.footerContainer a {
    color: whitesmoke;
    font-size: 1.6rem;
    text-decoration: none;
}
.footerContainer a:hover {
    text-decoration: underline;
}
.foot {
    position: absolute;
    bottom: 40px;
    width: 100%
}

.foot p {
    color: whitesmoke;
    font-size: 1.6rem;
    text-transform: uppercase;
}


/* MAIN */
main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* HERO SECTION */
.hero {
    width: 100%;
    padding: 0 var(--Width);
    max-height: 100%;
    height: 100vh;
    overflow: hidden;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-column-gap: 20px;
    padding-top: 6rem;
    margin-bottom: 85vh;
    background-color: white;
}
.hero_left{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.hero_left-heroText{
    font-size: 6.5rem;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    line-height: .9;
    text-transform: uppercase;
    margin-bottom: 1.6rem;
    text-shadow:0.05em 0 0 var(--RedShadow), 
    -0.05em -0.0125em 0 var(--GreenShadow), 
    -0.025em 0.025em 0 var(--BlueShadow);
    animation: glitch 500ms infinite;
    position: relative;
}
.glitch{
    position: absolute;
    top: 0%;
    left: 0;
    clip-path: polygon(0 20%, 100% 20%, 100% 50%, 0 50%);
    transform: translateX(-0.0125em);
    animation: glitch 600ms infinite;
    opacity: .6;
}
.glitch2{
    clip-path: polygon(0 60%, 100% 60%, 100% 70%, 0 70%);
    transform: translateX(0.025em);
    animation: glitch 500ms infinite;
    opacity: 0.5;
}

@keyframes glitch {
    0% {
        text-shadow:0.05em 0 0 var(--RedShadow), 
        -0.05em -0.0125em 0 var(--GreenShadow), 
        -0.025em 0.025em 0 var(--BlueShadow);
    }
    14% {
        text-shadow:0.05em 0 0 var(--RedShadow), 
        -0.05em -0.0125em 0 var(--GreenShadow), 
        -0.025em 0.025em 0 var(--BlueShadow);
    }
   
    15% {
        text-shadow:-0.05em -0.025em 0 var(--RedShadow),
        0.025em 0.025em 0 var(--GreenShadow), 
        -0.05em -0.025em 0 var(--BlueShadow);
    }
    49% {
        text-shadow:-0.05em -0.025em 0 var(--RedShadow),
        0.025em 0.025em 0 var(--GreenShadow), 
        -0.05em -0.025em 0 var(--BlueShadow);
    }
    50% {
        text-shadow:0.025em 0.025em 0 var(--RedShadow),
        0.05em 0 0 var(--GreenShadow), 
        0 -0.0125em 0 var(--BlueShadow);
    }
    99% {
        text-shadow:0.025em 0.025em 0 var(--RedShadow),
        0.05em 0 0 var(--GreenShadow), 
        0 -0.0125em 0 var(--BlueShadow);
    }
    100% {
        text-shadow:-0.025em 0 0 var(--RedShadow),
        -0.025em -0.025em 0 var(--GreenShadow), 
        -0.025em -0.025em 0 var(--BlueShadow);
    }
    
}

.hero_right{
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    background-image: url(../assets/NicolásOchoa-82.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center ;
    background-position-x: left;
    overflow: hidden;
}

/* VIDEO SECTION */
.video {
    width: 100%;
    margin-bottom: 80vh;
    height: 80vh;
    background-color: rgba(42, 42, 42, 0.164);
    position: relative;
}
.vimeo-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    pointer-events: none;
    overflow: hidden;
 }
 .vimeo-wrapper iframe {
    width: 100vw;
    height: 56.25vw; /* Given a 16:9 aspect ratio, 9/16*100 = 56.25 */
    min-height: 100vh;
    min-width: 177.77vh; /* Given a 16:9 aspect ratio, 16/9*100 = 177.77 */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
 }

/* INTRODUCTION SECTION */
.section {
    width: 100%;
    padding: 0 var(--Width);
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
}
.intro {
    padding: 200px 0 0px 0;
    width: var(--WidthS);
}
.intro p {
    text-align: justify;
}
/* WORK SECTION */
.work {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2.0rem;
    margin-top: 200px;
}
.work_indexCard {
    margin-bottom: 20rem;
    cursor: pointer;
}
.work_indexCard-image {
    width: 100%;
    height: 30rem;
    background-image: url(../assets/product.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center ;
    background-position-x: center;
    margin-bottom: 2.4rem;
}
.imageDigital {
    background-image: url(../assets/digital.png);
}
.imageTeamLeader {
    background-image: url(../assets/team.png);
}
.imageTalk {
    background-image: url(../assets/talks.png);
}
.work_indexCard-text {
    padding-right: 10px;
}
.work_indexCard-text--h3 {
    font-size: 2rem;
    font-family: 'Roboto Slab';
}
.work_indexCard-text--h2 {
    font-size: 4rem;
    font-family: 'Roboto Condensed', sans-serif;
    margin-bottom: 1.6rem;
}
.work_indexCard p {
    text-align: justify;
    line-break: loose;
}
.product {
    margin-top: 20rem;
}

/* PAGE DIGITAL */
.tittle {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 2.0rem;
    margin-top: 200px;
}
.tittle_indexCard {
    grid-column: 1 / span 2;
}
.card {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 2rem;
    margin-top: 6.4rem;
    margin-bottom: 20rem;

}
.card_container {
    margin-bottom: 6.4rem;
}
.card_image {
    width: 100%;
    height: 300px;
    background-image: url(../assets/tuAsiento.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    margin-bottom: 0.8rem;
}
.imageTuAsiento {
    background-image: url(../assets/tuAsiento.png);
    background-color: #1d3557
}

.imageLanzamiento2020 {
    background-image: url(../assets/Lanzamiento2020.png);
    background-color: #457b9d
}
.imageLanzamiento2021 {
    background-image: url(../assets/Lanzamiento2021.png);
    background-color: #a8dadc
}
.imagePortfolio {
    background-image: url(../assets/portfolio.png);
    background-color: #f1faee;
}
.imageCoronaPro {
    background-image: url(../assets/coronaPro.png);
    background-color: #e63946
}
.card_h2 {
    font-size: 3rem;
    font-family: 'Roboto Slab', serif;;
    font-weight: bold;
    margin-bottom: .8rem;
}
