


* {
    font-size: 62.5%;
    box-sizing: border-box !important;
    margin: 0;
    padding: 0;
    font-family:  'Roboto', sans-serif;
    --BlackText: rgb(39, 39, 39);
    --RedShadow: rgba(255, 0, 106, 0.4);    
    --GreenShadow: rgba(90, 248, 90, 0.4);
    --BlueShadow: rgba(63, 63, 252, 0.4);  
    --Width: 25%;
    --WidthS: 60%;
    --Width100: 100%;
    color: var(--BlackText);
}
p {
    font-size: 2rem;
    line-height: 1.3em;
    letter-spacing: 0.05em;
}
a {
    text-decoration: none;
}
/* HEADER */
header {
    width: 100%;
    height: 10rem;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: -10rem;
}
.nav {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    width: 80%;
    align-items: center;   
    z-index: 1;
}
.nav_text, .material-icons-round{
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 1.6rem;
    text-transform: uppercase;
}
.--center {
    justify-self: center;
}
.--right {
    justify-self: right;
}
.nav_menu {
    z-index: 2;
    text-align: end;
}
.nav_menu :hover {
    cursor: pointer;
}

/* MENU */
.menuWrapper {
    position: fixed;
    z-index: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    padding-right: 15%;
    width: 100vw;
    height: 100vh;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.9);
    transform: translateY(-100vh);
    transition: 750ms;
    transition-timing-function:ease-in;
}

.menuWrapper_h2 {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    transform: translateY(-100vh);
    transition: 850ms;
    transition-timing-function:ease-in-out;
}

.menuWrapper h2 {
    font-family: 'Montserrat', sans-serif;
    font-size: 6rem;
    font-weight: bold;
    color: whitesmoke;
    text-transform: uppercase;
    filter: blur(2px);
}
.menuWrapper h2:hover {
    font-size: 6.2rem;
    cursor: pointer;
    filter: none;
}
.lottie {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 64px;
    margin-bottom: -136px;
    background-color: #E63946;
    padding: 30px;
}
.spinner {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    background-color: white;
    z-index: 3;
    opacity: 1;
    transition: opacity 300ms;
}
.lottie h2 {
    align-self: flex-start;
    font-family: 'Monserrat' san-serif;
    font-size: 3rem;
    font-weight: bold;
    text-shadow: 5px 0 0 #f1faee;
}

/* FOOTER */
footer {
    width: 100%;
    height: 75vh;
    background-color: #333333;
    display: flex;
    justify-content: center;
}
.footerContainer {
    width: 80%;
    display: flex;
    flex-direction: column;
    padding-top: 80px;
    position: relative;
}
.footerContainer h2 {
    color: whitesmoke;
    font-size: 6rem;
    font-family: 'Roboto';
    font-weight: 300;
    margin-bottom: 0.8rem;
}
.footerContainer_line {
    width: 250px;
    height: 1px;
    background-color: whitesmoke;
    margin-bottom: 2.4rem;
}
.footerContainer a {
    color: whitesmoke;
    font-size: 1.6rem;
    text-decoration: none;
}
.footerContainer a:hover {
    text-decoration: underline;
}
.foot {
    position: absolute;
    bottom: 40px;
    width: 100%
}

.foot p {
    color: whitesmoke;
    font-size: 1.6rem;
    text-transform: uppercase;
}

/* MAIN */
main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* HERO SECTION */
.hero {
    width: 100%;
    padding: 0 15%;
    max-height: 100%;
    height: 100vh;
    overflow: hidden;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-column-gap: 20px;
    padding-top: 6rem;
    margin-bottom: 85vh;
    background-color: white;
}
.hero_left{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.hero_left-heroText{
    font-size: 6.5rem;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    line-height: .9;
    text-transform: uppercase;
    margin-bottom: 1.6rem;
    text-shadow:0.05em 0 0 var(--RedShadow), 
    -0.05em -0.0125em 0 var(--GreenShadow), 
    -0.025em 0.025em 0 var(--BlueShadow);
    animation: glitch 500ms infinite;
    position: relative;
}
.glitch{
    position: absolute;
    top: 0%;
    left: 0;
    clip-path: polygon(0 20%, 100% 20%, 100% 50%, 0 50%);
    transform: translateX(-0.0125em);
    animation: glitch 600ms infinite;
    opacity: .6;
}
.glitch2{
    clip-path: polygon(0 60%, 100% 60%, 100% 70%, 0 70%);
    transform: translateX(0.025em);
    animation: glitch 500ms infinite;
    opacity: 0.5;
}
.WIP {
    font-size: 4rem;
    align-self: flex-start;
}
.WIPportfolio {
    background-color: #F1FAEE;
}
.WIPlanzamiento2021 {
    background-color: #A8DADC;
}

@keyframes glitch {
    0% {
        text-shadow:0.05em 0 0 var(--RedShadow), 
        -0.05em -0.0125em 0 var(--GreenShadow), 
        -0.025em 0.025em 0 var(--BlueShadow);
    }
    14% {
        text-shadow:0.05em 0 0 var(--RedShadow), 
        -0.05em -0.0125em 0 var(--GreenShadow), 
        -0.025em 0.025em 0 var(--BlueShadow);
    }
   
    15% {
        text-shadow:-0.05em -0.025em 0 var(--RedShadow),
        0.025em 0.025em 0 var(--GreenShadow), 
        -0.05em -0.025em 0 var(--BlueShadow);
    }
    49% {
        text-shadow:-0.05em -0.025em 0 var(--RedShadow),
        0.025em 0.025em 0 var(--GreenShadow), 
        -0.05em -0.025em 0 var(--BlueShadow);
    }
    50% {
        text-shadow:0.025em 0.025em 0 var(--RedShadow),
        0.05em 0 0 var(--GreenShadow), 
        0 -0.0125em 0 var(--BlueShadow);
    }
    99% {
        text-shadow:0.025em 0.025em 0 var(--RedShadow),
        0.05em 0 0 var(--GreenShadow), 
        0 -0.0125em 0 var(--BlueShadow);
    }
    100% {
        text-shadow:-0.025em 0 0 var(--RedShadow),
        -0.025em -0.025em 0 var(--GreenShadow), 
        -0.025em -0.025em 0 var(--BlueShadow);
    }
    
}

.hero_right{
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    background-image: url(./assets/NicolásOchoa-82.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center ;
    background-position-x: left;
    overflow: hidden;
}

/* VIDEO SECTION */
.video {
    width: 100%;
    margin-bottom: 80vh;
    height: 80vh;
    background-color: rgba(42, 42, 42, 0.164);
    position: relative;
}
.vimeo-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    pointer-events: none;
    overflow: hidden;
 }
 .vimeo-wrapper iframe {
    width: 100vw;
    height: 56.25vw; /* Given a 16:9 aspect ratio, 9/16*100 = 56.25 */
    min-height: 100vh;
    min-width: 177.77vh; /* Given a 16:9 aspect ratio, 16/9*100 = 177.77 */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
 }

/* INTRODUCTION SECTION */
.section {
    width: 100%;
    padding: 0 var(--Width) 0 var(--Width);
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    background-color: white;
}
.sectionIndex{
    padding: 0 15%;
}
.intro {
    padding: 200px 0 200px 0px;
    width: var(--WidthS);
    margin: 0 auto;
}
.intro p {
    text-align: justify;
}
/* WORK SECTION */
.grid {
    width: 100%;
    display: grid;
    gap: 2.0rem;
}
.twoColumns {
    grid-template-columns: 1fr 1fr;
}
.spacer200 {
    margin-top: 200px;
}
.spacerDown200 {
    margin-bottom: 200px;
}
.spacer64 {
    margin-top: 6.4rem;
}
.work_indexCard {
    margin-bottom: 20rem;
    cursor: pointer;
}
.work_indexCard-image {
    width: 100%;
    aspect-ratio: 602 / 350;
    background-image: url(./assets/product.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center ;
    background-position-x: center;
    margin-bottom: 2.4rem;
}
.imageDigital {
    background-image: url(./assets/digital.png);
}
.imageTeamLeader {
    background-image: url(./assets/team.png);
}
.imageTalk {
    background-image: url(./assets/talks.png);
}
.card_imageTalk {
    width: 100%;
    aspect-ratio: 1152 / 648;
    background-image: url(./assets/talk.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    margin-bottom: 0.8rem;}
.imageTalk2 {
    background-image: url(./assets/talk1.jpg);
}
.imageTalk1 {
    background-image: url(./assets/talk2.jpg);
}
.imageTalk3 {
    background-image: url(./assets/talk3.jpg);
}
.imageTalk4 {
    background-image: url(./assets/talk4.jpg);
}
.work_indexCard-text {
    padding-right: 10px;
}
.work_indexCard-text--h3 {
    font-size: 2rem;
    font-family: 'Roboto Slab';
}
.work_indexCard-text--h2 {
    font-size: 4rem;
    font-family: 'Roboto Condensed', sans-serif;
    margin-bottom: 1.6rem;
}
.work_indexCard p {
    text-align: justify;
    line-break: loose;
}
.product {
    margin-top: 20rem;
}

/* PAGE DIGITAL */

.threeColumns {
    grid-template-columns: 1fr 1fr 1fr;
}
.tittle_indexCard {
    grid-column: 1 / span 2;
}
.card_container {
    margin-bottom: 6.4rem;
}
.card_container p {
    font-size: 1.6rem;
}

.card_image {
    width: 100%;
    aspect-ratio: 1 / 1;
    background-image: url(./assets/tuAsiento.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    margin-bottom: 0.8rem;
}
.imageTuAsiento {
    background-image: url(./assets/tuAsiento.png);
    background-color: #1d3557
}

.imageLanzamiento2020 {
    background-image: url(./assets/Lanzamiento2020.png);
    background-color: #457b9d
}
.imageLanzamiento2021 {
    background-image: url(./assets/Lanzamiento2021.png);
    background-color: #a8dadc
}
.imagePortfolio {
    background-image: url(./assets/portfolio.png);
    background-color: #f1faee;
}
.imageCoronaPro {
    background-image: url(./assets/coronaPro.png);
    background-color: #e63946
}
.card_h2 {
    font-size: 2rem;
    font-family: 'Roboto Slab', serif;;
    font-weight: bold;
    margin-bottom: .8rem;
}
.backButton {
    width: 100%;
}
.backButton_button {
    font-family: 'Roboto Condense', sans-serif;
    font-size: 2rem;
    display: flex;
    align-items: center;
    height: 40px;
    padding: 1.6rem;
    background-color: transparent;
    border: solid 3px var(--BlackText);
}
.backButton_button:hover {
    background-color: var(--BlackText);
    color: whitesmoke;
}
.backButton_icon {
    color: inherit;
}

/* PAGE PRODUCT */
.imageIngo {
    background-image: url(./assets/ingo.png);
    /* background-color: #e63946 */
}
.imageLiquid {
    background-image: url(./assets/Liquid.png);
    /* background-color: #e63946 */
}
.imagePerkin {
    background-image: url(./assets/perkinElmer.png);
    /* background-color: #e63946 */
}
.imageManantial {
    background-image: url(./assets/Manantial.png);
    /* background-color: #e63946 */
}
.imageCascade {
    background-image: url(./assets/Cascade.png);
    /* background-color: #e63946 */
}
.imageJohnDeere {
    background-image: url(./assets/JohnDeere.png);
    /* background-color: #e63946 */
}

/* PAGE TEAM BUILDER */

.text3columns {
   grid-column: 1 /2 span;
}
.videoInterno {
    margin: 6.4rem 0;
    width: 100%;
    aspect-ratio: 16 / 9;
    background-color: violet;
    position: relative;
}
.paragraphText {
    grid-column: 1 / span 2;
}
.tittle_indexCard {
    grid-column: 1 / span 2;
}

.imageParagraph {
    background-image: url(./assets/team2.png);
    width: 100%;
    aspect-ratio: 16/9;;
    background-size: cover;
}
.imageMetodoly {
    width: 100%;
    aspect-ratio: 1 / 1;
    background-image: url(./assets/metodology1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position:center;
    display: flex;
    align-items: flex-end;
    padding: 0.8rem;
    font-size: 1.2rem;
}
.imageMetodoly2 {
    background-image: url(./assets/metodology2.jpg);
}
.imageMetodoly3 {
    background-image: url(./assets/metodology3.jpg);
}
.fourColumns {
    grid-template-columns: 1fr 1fr 1fr 1fr;
}
.imageId2-1 {
    background-image: url(./assets/N1Id16.gif);
}
.imageId2-2 {
    background-image: url(./assets/N1Id4.gif);
}
.imageId2-3 {
    background-image: url(./assets/N1Concept1.gif);
}
.imageId2-4 {
    background-image: url(./assets/N1Concept2.gif);
}
.ideation {
    font-size: 1.4rem;
    font-style: italic;
}

/* PAGE TU ASIENTO */
.logoContainer {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.logo {
    width: 120px;
    height: 120px;
    background-image: url(./assets/logoCorona.png);
    background-size: cover;
}
.logoMuma {
    background-image: url(./assets/logoMuma.png);
}
.logoPerkinElmer {
    background-image: url(./assets/logoPerkinElmer.png);
}
.logoDeere {
    background-image: url(./assets/logoDeere.png);
}
.imageHero {
    width: 100%;
    aspect-ratio: 1234 / 432;
    background-image: url(./assets/BannerTuAsientoHome.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    margin-top: 6.4rem;
    margin-bottom: 6.4rem;
}
.imageHeroCoronaPro {
    aspect-ratio: 1800 / 367;
    background-image: url(./assets/coronaPro.png);
}
.imageTuAsientoResearch {
    aspect-ratio: 2067 / 483;
    background-image: url(./assets/TuAsientoResearch.jpg);
}
.grid.fourColumns.spacer64 h2 {
    font-size: 2.4rem;
}
.grid.fourColumns.spacer64 p {
    font-size: 1.6rem;
}
.videoPlayer {
    width: 100%;
}
.videoPlayer video {
    width: 100%;
}
.imageDesignSystem {
    aspect-ratio: 1920 / 1040;
    background-image: url(./assets/designsystem.jpg);
}
.imageDesignSystem2 {
    aspect-ratio: 1920 / 1040;
    background-image: url(./assets/designsystem2.jpg);
}
.imageTuAsientoFinal {
    aspect-ratio: 1 / 1;
    background-image: url(./assets/tuAsiento.png);
}
.imageEmail1 {
    aspect-ratio: 361 / 412;
    background-image: url(./assets/email1.jpg);
    border: solid 3px rgb(228, 228, 228);
}
.imageEmail2 {
    aspect-ratio: 361 / 412;
    background-image: url(./assets/email2.jpg);
    border: solid 3px rgb(228, 228, 228);
}
.imageEmail3 {
    aspect-ratio: 361 / 412;
    background-image: url(./assets/email3.jpg);
    border: solid 3px rgb(228, 228, 228);
}
.imageLanzamiento2021Miro {
    aspect-ratio: 1224 / 826;
    background-image: url(./assets/Lanzamiento2020.png);
}
.imageLanzamiento2020Full {
    aspect-ratio: 1 / 1;
    background-image: url(./assets/Lanzamiento2020.png);
}

/* RESPONSIVE */

@media only screen 
  and (min-device-width: 355px) 
  and (max-device-width: 812px) 
  and (-webkit-min-device-pixel-ratio: 3) { 

    * {
        --Width: 25%;
        --WidthS: 60%;
        --Width100: 100%;
    }
    p {
        font-size: 1.6rem;
    }

    .nav {
        grid-template-columns: 1fr;
        width: 90%;
    }
    .nav_text {
        display: none;
    }
    .menuWrapper {
        padding-right: 24px;
    }

    .menuWrapper h2 {
        font-size: 3rem;
        line-height: 1.3;
        filter: blur(1px);
    }
    .menuWrapper h2:hover {
        font-size: 3.2rem;
    }
    .lottie h2 {
        font-size: 2rem;
    }
    footer {
        height: 50vh;
    }
    .footerContainer {
        width: 100%;
        padding-top: 40px;
        padding-left: 24px ;
        flex-direction: column;
    }
    .footerContainer h2 {
        font-size: 3rem;
    }
    .footerContainer_line {
        width: 120px;
    }
    .footerContainer a {
        font-size: 1.4rem;
    }
    .foot {
        display: none;
    }
    .hero {
        width: 100%;
        padding: 0 24px 24px 24px;
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: 2fr 1fr;
        grid-row-gap: 24px;
        margin-bottom: 85vh;
    }
    .hero_left{
        grid-row-start: 2;
        grid-row-end: 3;
        height: auto;
    }
    .hero_left-heroText{
        font-size: 4rem;
    }
    .hero_right{
        background-image: url(./assets/NicolasOchoa-mobile.png);
        background-repeat: no-repeat;
        background-size: contain;
        background-position: bottom ;
        background-position-x: center;
        overflow: hidden;
    }
    .section {
        padding: 64px 24px;
    }
    .sectionIndex{
        padding: 64px 24px;
    }
    .intro {
        padding:  0;
        width: 100%;
        margin: 0;
    }
    .intro p {
        text-align: justify;
    }

    .grid {
        gap: 1.6rem;
    }
    .twoColumns {
        grid-template-columns: 1fr;
    }
    .spacer200 {
        margin-top: 200px;
    }
    .work_indexCard {
        margin-bottom: 6.4rem;
    }
    .work_indexCard-image {
        width: 100%;
        margin-bottom: 1.6rem;
    }
    .product {
        margin-top: 0rem;
    }
    .work_indexCard-text {
        padding-right: 0;
    }
    .work_indexCard-text--h3 {
        display: none;
    }
    .work_indexCard-text--h2 {
        font-size: 3rem;
        font-family: 'Roboto Condensed', sans-serif;
        margin-bottom: 1.6rem;
    }
    .work_indexCard p {
        text-align: left;
        line-break: none;
    }
    .threeColumns {
        grid-template-columns: 1fr;
        gap: 0;
    }
    .spacer200 {
        margin-top: 0px;
    }
    .logoContainer {
        display: none;
    }
    .imageHero {
        margin-top: 0rem;
        margin-bottom: 0rem;
    }
    .fourColumns {
        grid-template-columns: 1fr;
    }
    .card_h2 {
        font-size: 1.8rem;
    }
    .backButton {
        margin-top: 64px;
        margin-bottom: 16px;    
    }
    .lottie {
        margin-bottom: 64px;
        padding: 30px;
    }
